@if (loading() ){
<p>Cargando productos...</p>
} @else if (error() ){
<p class="text-red-500">{{error()}}</p>
} @else {
<div>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="all" (click)="productsService.setCategory('all')">All</mat-radio-button>
        <mat-radio-button value="men's clothing" (click)="productsService.setCategory(men)">Men Clothing</mat-radio-button>
        <mat-radio-button value="women's clothing" (click)="productsService.setCategory(women)">Women Clothing</mat-radio-button>
        <mat-radio-button value="jewelery" (click)="productsService.setCategory('jewelery')">Jewelery</mat-radio-button>
        <mat-radio-button value="electronics" (click)="productsService.setCategory('electronics')">Electronics</mat-radio-button>
    </mat-radio-group>
    <div class="grid grid-cols-4 gap-4">
        @for (product of filteredProducts(); track product.id){
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{product.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{product.image}} alt={{product.title}}>
            <mat-card-content>
                <p>
                    {{product.category}}
                </p>
            </mat-card-content>
            <mat-card-content>
                <p>
                    {{product.price}} $
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="cartService.addToCart(product)">Add to cart</button>
                <button mat-button (click)="cartService.removeToCart(product.id)">Remove to cart</button>
            </mat-card-actions>
        </mat-card>
        }
    </div>
</div>
}