<div>
    @if (cartItems().length === 0 || subtotal() <= 0 || total() <=0){ <p>Nada en el carrito</p>
        } @else {
        <div>
            @for (item of cartItems(); track item.productId){
            <div>
                <p>{{item.title}}</p>
                <p>{{item.price}}$</p>
                <span>{{item.quantity}}</span>
                <button class="cursor-pointer" (click)="cartService.decreaseQuantity(item.productId)">Bajar qty</button>
                <button class="cursor-pointer" (click)="cartService.increaseQuantity(item.productId)">Subir qty</button>
            </div>
            }
            <button class="cursor-pointer" (click)="cartService.clearCart()">Vaciar carrito</button>
            <strong>Subtotal: {{subtotal() | currency: 'ARS ': 'symbol': '1.2'}}$</strong>
            <hr>
            <strong>Total: {{total() | currency: 'ARS ': 'symbol': '1.2'}}$</strong>
        </div>
        }
</div>